{% extends 'base.html' %}
{% block title %}Laboratery System{% endblock title %}
{% block body %}
<!-- introduction section code start -->
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Exploring Science for a Better Tomorrow</h1>
      <p class="lead text-body-secondary">Welcome to GenoSys Laboratory, where your blood sample meets innovation. We are a dedicated team of doctors and lab technician committed to pushing the boundaries of knowledge and making meaningful contributions to the world through our resarch and discoveries. </p>
      <p>
        <a href="#" class="btn btn-primary my-2">Want to know more about us</a>
        <a href="#" class="btn btn-secondary my-2">Sign-in</a>
      </p>
    </div>
  </div>
</section>
<!-- introduction section code end -->
<!-- middle section code start -->
<main>
<div class="container py-4">
<div class="p-5 mb-4 bg-body-tertiary rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Custom jumbotron</h1>
    <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
    <button class="btn btn-primary btn-lg" type="button">Example button</button>
  </div>
</div>
</div>

<!-- middle section code end -->
{% endblock body %}